@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Regles generales */
*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  /* 14px par défaut */
  /*font-family: 'Noto sans', sans-serif;*/
}

a, a:hover, a:visited {
  /* ATTENTION LES LIENS SONT BLANC DANS CE MODELE*/
  color: #FFF;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*******************************/
/* Starter: Prsentation       */
/*****************************/
.presentation {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.presentation h1 {
  font-size: 8rem;
  padding-bottom: 10rem;
}

/********************/
/* HEADER:         */
/******************/
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.main .main__card {
  font-family: "Raleway", sans-serif;
  z-index: 500;
  background: rgba(250, 250, 250, 0.7);
  min-height: 30vh;
  color: #444;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.2);
  margin: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 50px;
  padding-left: 50px;
}
.main .main__card .card__titre {
  font-size: 2em;
  padding-bottom: 30px;
}
.main .main__card .card__paragraphe {
  padding-top: 15px;
  line-height: 1.4;
  font-size: 1.3em;
}
.main .main__card .card__adresse,
.main .main__card .card__mail {
  padding-bottom: 15px;
  font-size: 1.2em;
}
.main .main__card .card__adresse .mail__icon,
.main .main__card .card__mail .mail__icon {
  padding-right: 10px;
}
.main .main__card .card__adresse .adresse__icon,
.main .main__card .card__mail .adresse__icon {
  padding-left: 3px;
  padding-right: 10px;
}
.main .main__portrait {
  position: relative;
  top: 70px;
  left: 75px;
  width: 8rem;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 2px -2px 1px -1px rgba(200, 200, 200, 0.7);
}
.main .main__corp {
  position: absolute;
  bottom: 0;
  right: -173px;
}