@import 'mixins';
@import 'color';
@import 'reset';
@import 'base';
@import 'starter';

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.main {

    display: flex;
    flex-direction: column;
    align-items: center;

    .main__titre {

        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 1.8rem;
        padding-top: 25px;
        padding-bottom: 10px;

    }

    .main__liste {

        max-width: 900px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom:25px ;

        .liste__li {

            flex-basis: 30%;
            cursor: pointer;

            .li__description {

                font-family: 'Raleway', sans-serif;
                font-size: 1.6rem;
                color: #787878;
                line-height: 1.4;
                padding: 20px;

            }

        }

        .liste__li:hover {

            box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.2);

            .li__description {
            
                color: #0022ff;
            
            }
        
        }
          
    }

    .main__button {

        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
        text-transform: uppercase;
        background: #00b0ff;
        padding: 20px 40px;
        letter-spacing: 2px;
        font-weight: 700 ;
    
    }
      
    .main__croix {
    
        padding-bottom: 30px;
        font-size: 1.4em;
    
    }

}